@import url('https://fonts.googleapis.com/css2?family=family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');


/* FORM */

.form__content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

@media screen and (max-width: 880px) {
    .form__content{
        gap: 1rem;
    }
  }