.header__container{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.header-title{
    color: var(--Dark-grayish-cyan);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 30px;
}